<nav><a href="/">首页</a>
<a href="wlsgj/">历史时光机</a>
<a href="wlts/">未来探索</a>
<a href="kjjh/">科技交汇</a>
<a href="xnty/">虚拟体验</a>
</nav>
<style>
    a{
        color: rgb(180, 139, 3);
        text-decoration: none;
        margin: right 3em;
    }
    nav{
        background-color: rgb(242, 241, 182);
        height: 3em;
        line-height: 3em;
        padding: 0 2em;
        border-radius: 3em;
        text-align: center;
    }
</style>