<a href="/">首页</a>
<a href="about/">关于</a>
<a href="abcd/">电子书</a>
<a href="notes/">astro知识点</a>

<style>
    a{
        color: aliceblue;
        text-decoration: none;
        margin: right 2em;
    }
</style>