---  
const { name = "Mary", major = "新闻"} = Astro.props;  
---  
  
<div>  
    <h2>{name}</h2>  
    <p>{major}</p>  
    <slot />  
</div>
<style>
    h2,
    p{
        text-align: center;
    }
</style>
